services:
  mongo:
    image: mongo
    restart: always
    env_file:
      - ./.env
    volumes:
      - ./data:/data/db 

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    env_file:
      - ./.env

networks:
  default:
    name: mohiguide-network